{% extends 'template.html' %}
{% load static %}
{% block title %} Workshops {% endblock %}

{% block content %}

	<!--================ start banner Area =================-->
	<section class="banner-area relative">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row justify-content-lg-end align-items-center banner-content">
				<div class="col-lg-5">
					<h1 class="text-white">Our Workshops</h1>
					<!-- <p>A likeness were made fourth land bring lesser beast face image they bring so earth moved they are great move</p> -->
				</div>
			</div>
		</div>
	</section>
	<!--================ End banner Area =================-->

	<!--================ Start Popular Causes Area =================-->

	<section >
		<br><br><br>
		<div class="content-box">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="section-title">
						<h2><span>Fellowship</span> Workshops</h2>
					</div>
				</div>
			</div>
		<div class="container">
		<div class="card-deck">
			<div class="card">
			  <a href="{% url 'writing' %}"><img class="card-img-top" src="{% static 'img/causes/science_r.png' %}" alt="Card image cap"></a>
			  <div class="card-body">
				<div class="team-member-info text-center">
					<a href="{% url 'writing' %}"><h4 class="team-member-name">SCIENTIFIC WRITING</h4></a>
					<h4 class="team-member-designation">By Dr. Sharon Rees</h4>
				</div>
			  </div>
			</div>
			<div class="card">
			<a href="{% url 'business' %}"><img class="card-img-top" src="{% static 'img/causes/business_r.png' %}" alt="Card image cap"></a>  
			  <div class="card-body">
				<div class="team-member-info text-center">
					<a href="{% url 'business' %}">	<h4 class="team-member-name">BUSINESS & ENTREPRENEURSHIP</h4> </a>
						<h4 class="team-member-designation">By Mphumzi Mswane</h4>
					</div>
			
			  </div>
			</div>
			<div class="card">
			<a href="{% url 'communication' %}"><img class="card-img-top" src="{% static 'img/causes/com.png' %}" alt="Card image cap"></a>  
			  <div class="card-body">
				<div class="team-member-info text-center">
					<a href="{% url 'communication' %}"><h4 class="team-member-name">SCIENCE COMMUNICATION</h4></a>
					<h4 class="team-member-designation">By Athandiwe Saba</h4>
				</div>
			
			  </div>
			</div>
		  </div>
		</div>
	
	<br><br><br>
	</section>
	<br><br>
	<!--================ End Popular Causes Area =================-->

	<!--================ Start callto Area =================-->
	<section class="callto-area section-gap relative">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8">
					<p class="top_text">Need to become a member?</p>
					<div class="call-wrap mx-auto">
						<h1>Become a BWIS member in Your Area</h1>
						<!-- <a id="play-home-video" class="video-play-button" href="https://www.youtube.com/watch?v=_C5vCGB8Xx0">
									<span></span>
								</a> -->
						<p>Join our network and engage with other black women in sciences to bring the change you want to see in future.</p>
						<a href="{% url 'fellowship' %}" class="primary-btn mt-5">
							Join us
							<i class="ti-angle-right ml-1"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End callto Area =================-->

	<!--================ Start CTA Area =================-->
	<div class="cta-area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-7">
					<p class="top_text">Subscribe now</p>
					<h1>Subscribe Now And Receive The
						Weekly Newsletter </h1>
					<div id="mc_embed_signup">
						<form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
						 method="get">
							<div class="row align-items-center">
								<div class="col-lg-5 mb-lg-0 mb-3">
									<input class="form-control" placeholder="Your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your name'"
									 required="" type="email" />
								</div>
								<div class="col-lg-5 mb-lg-0 mb-3">
									<input class="form-control" name="EMAIL" placeholder="Your Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email'"
									 required="" type="email" />
								</div>
								<div class="col-lg-2">
									<button class="primary-btn" type="submit">Subscribe</button>
									<div style="position: absolute; left: -5000px;">
										<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text" />
									</div>

									<div class="info"></div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--================ End CTA Area =================-->

	{% endblock %}