{% extends 'base.html' %}
{% load static %}
{% block title %} Main Programmes {% endblock %}

{% block content %}

	<!--================ start banner Area =================-->
	<section class="banner-area relative">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row justify-content-lg-end align-items-center banner-content">
				<div class="col-lg-5">
					<h1 class="text-white">Workshop: Science Communication</h1>
					
				</div>
			</div>
		</div>
	</section>
	<!--================ End banner Area =================-->

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 box_l">
				<p id='par'>
					<br><br>
						 
				</p>

				<p id='par'>
					Here we aim to connect Black Women Scientists to the Science eco-system. Enhancing individual excellence by connecting peer to peer, peers to mentors, companies and funders. Fellows are equipped to expand their influential
					 capacity in science discussions, conduction interviews, writing a vlog post and more!
				</p>



							<br><br><br>

			</div>

		</div>
	  					
	</div>
	<!--================ Start Popular Causes Area =================-->
	
	<!--================ Start CTA Area =================-->
	<div class="cta-area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-7">
					<p class="top_text">Subscribe now</p>
					<h1>Subscribe Now And Receive The
						Weekly Newsletter </h1>
					<div id="mc_embed_signup">
						<form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
						 method="get">
							<div class="row align-items-center">
								<div class="col-lg-5 mb-lg-0 mb-3">
									<input class="form-control" placeholder="Your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your name'"
									 required="" type="email" />
								</div>
								<div class="col-lg-5 mb-lg-0 mb-3">
									<input class="form-control" name="EMAIL" placeholder="Your Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email'"
									 required="" type="email" />
								</div>
								<div class="col-lg-2">
									<button class="primary-btn" type="submit">Subscribe</button>
									<div style="position: absolute; left: -5000px;">
										<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text" />
									</div>

									<div class="info"></div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--================ End CTA Area =================-->

	{% endblock %}