{% extends 'base.html' %}
{% load static %}
{% block title %} Main Programmes {% endblock %}

{% block content %}

	<!--================ start banner Area =================-->
	<section class="banner-area relative">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row justify-content-lg-end align-items-center banner-content">
				<div class="col-lg-5">
					<h1 class="text-white">Workshop</h1>
					
				</div>
			</div>
		</div>
	</section>
	<!--================ End banner Area =================-->
	<section class="">
		
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 box_l">
				<div class="section-title">
					<br><br><br>
					<h2><span>Science</span> Communication</h2>
				</div>
				<p id='par'>
					Here we aim to connect Black Women Scientists to the Science eco-system. Enhancing individual excellence by connecting peer to peer, peers to mentors, companies and funders. Fellows are equipped to expand their influential
					 capacity in science discussions, conduction interviews, writing a vlog post and more!
				</p>

				<p id='par' class="bold_text">
					What is science communication?
				</p>

				<p id='par'>
					Making science matter has never been more important than it is today. But there are not enough voices in South Africa who are confident enough to communicate their work and expertise. There are many reasons for this, including language barriers, and the fact that most research career paths don’t prepare
					 scientists to talk to the media, policymakers or other audiences outside of academia. 
				</p>

				<p id='par'>
					A book all scientists should read is Escape from the Ivory Tower by Nancy Baron where she explains that movers and shakers will not be dazzled by your data, your methodology, or the power of your writing in peer-reviewed journals. 
					These people need you to tell them what’s going on and to answer their questions.
				</p>

				<p id='par'>
					You want to communicate and promote the great work, often missed, to the general public, policymakers and funders. But you either do not have the time to learn the important basic skills of communicating your work. Or there are language barriers to articulating your views,
					 difficulties. Or it is simply too daunting a task to embark on.
				</p>

				
				<p id='par'>
					You want to communicate and promote the great work, often missed, to the general public, policymakers and funders. But you either do not have the time to learn the important basic skills of communicating your work. Or there are language barriers to articulating your views,
					 difficulties. Or it is simply too daunting a task to embark on.
				</p>

				<p id='par'>
					We as BWIS understand these issues faced by black women and are here to guide and to provide a vital lifeline to black women scientists through training and making important resources available. Science communication will stimulate more vibrant and necessary interaction between the scientific community, decisionmakers and the broader society. It allows you to be a better writer, 
					a teacher, a mentor for next-generation of scientists and to make science matter.
				</p>

				<p id='par' class="bold_text">
					What the course will entail ?
				</p>
					<i>Why Science Communication Matters 1.5h</i> <br>
				  <div class="underl">From speaking science to speaking to people:</div>
				  <div id='par'>   Here we will discuss the different kinds of communication platforms, a crash course on the message box, 
				  tailoring your message for a specific audience and tips to get your message out there. </div> <br>
				
				  <i>Writing, it’s quite easy 1.5h</i> <br>
				  <div class="underl">How to get your voice out there:</div>
				  <div id='par'>   In this session we will focus on why your voice is vital, identify the right media platform for any given topic, the importance of simply starting to write, 
					  and we will guide each other on how to decide what to write and how to write it.  </div> <br>

								
				  <i>Promotion of their work 2h</i> <br>
				  <div class="underl">Acing those pesky interviews:</div>
				  <div id='par'>How do you prepare for interviews and talks, what to say, how to say it and the dos and don’ts of the industry.
					   Here we will take you through interview etiquette and preparation.  </div> <br>

				 <i>Extra Session</i> <br>
				  <div class="underl">The message box:</div>
				  <div id='par'>Understanding how to use this tool will help you take your expertise and tailor it for any audience.
					   This session will be virtual and is not mandatory.   </div> <br>

				

























				<br><br><br>

			</div>

		</div>
	  					
	</div>
	
	</section>

	<!--================ Start Popular Causes Area =================-->
	
	<!--================ Start CTA Area =================-->
	<div class="cta-area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-7">
					<p class="top_text">Subscribe now</p>
					<h1>Subscribe Now And Receive The
						Weekly Newsletter </h1>
					<div id="mc_embed_signup">
						<form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
						 method="get">
							<div class="row align-items-center">
								<div class="col-lg-5 mb-lg-0 mb-3">
									<input class="form-control" placeholder="Your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your name'"
									 required="" type="email" />
								</div>
								<div class="col-lg-5 mb-lg-0 mb-3">
									<input class="form-control" name="EMAIL" placeholder="Your Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email'"
									 required="" type="email" />
								</div>
								<div class="col-lg-2">
									<button class="primary-btn" type="submit">Subscribe</button>
									<div style="position: absolute; left: -5000px;">
										<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text" />
									</div>

									<div class="info"></div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--================ End CTA Area =================-->

	{% endblock %}