
     	{% extends 'base.html' %}
		{% load static %}
		{% block title %} Contact {% endblock %}
		
		{% block content %}
		
			<!--================ Start top-section Area =================-->
			<section class="banner-area relative">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row justify-content-lg-end align-items-center banner-content">
						<div class="col-lg-5">
							<h1 class="text-white">Contact</h1>
							<!-- <p>A likeness were made fourth land bring lesser beast face image they bring so earth moved they are great move</p> -->
						</div>
					</div>
				</div>
			</section>
			<!--================ End top-section Area =================-->


  <!-- ================ contact section start ================= -->
  
  <br/><br/><br/>
  {% if name %}
  <center>
	<h2>Thanks {{ name }}</h2>
	<p> We received your email and will respond shortly</p>
  </center>
<br/><br/><br/>

{% else %}

  <section class=" ">
    <br>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="contact-title">Get in Touch</h2>
        </div>
        <div class="col-lg-8">
          <form class="form-contact contact_form" action="{% url 'contact' %}" method="post" id="contactForm"
			novalidate="novalidate">
			{% csrf_token %}

            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <textarea class="form-control w-100" name="message" id="message" cols="30" rows="9" placeholder="Enter Message"></textarea>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input class="form-control" name="name" id="name" type="text" placeholder="Enter your name">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input class="form-control" name="email" id="email" type="email" placeholder="Enter email address">
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <input class="form-control" name="subject" id="subject" type="text" placeholder="Enter Subject">
                </div>
              </div>
            </div>
            <div class="form-group mt-2 mb-5 mb-lg-0">
              <button type="submit" class="button button-contactForm primary-btn">Send Message</button>
            </div>
          </form>
        </div>

        <div class="col-lg-4">
          <!-- <div class="media contact-info">
            <span class="contact-info__icon"><i class="fa fa-home"></i></span>
            <div class="media-body">
              <h3>Main Street, Johnnesburg.</h3>
              <p>Sandton, CA 91770</p>
            </div>
          </div> -->
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="fa fa-phone"></i></span>
            <div class="media-body">
              <h3><a href="tel:(00277) 647504360">(0027) 647504360</a></h3>
              <p>Mon to Fri 9am to 6pm</p>
            </div>
          </div>
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="fa fa-envelope-o"></i></span>
            <div class="media-body">
              <h3><a href="info@bwisglobal.co.za">info@bwisglobal.co.za</a></h3>
              <p>Send us your query anytime!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ================ contact section end ================= -->
<br><br><br>
{% endif %}

  {% endblock %}