{% extends 'template.html' %}

{% block title %} Donation {% endblock %}
{% load static %}
{% block content %}


<!--================ start banner Area =================-->
<section class="banner-area relative">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row justify-content-lg-end align-items-center banner-content">
			<div class="col-lg-5">
				<h1 class="text-white">Donation</h1>
		
			</div>
		</div>
	</div>
</section>
<!--================ End banner Area =================-->

{% if name %}
<br/><br/><br/>
<center>
  <h2>Thank you {{ name }} for your donation </h2> <br>
   
</center>
<br/><br/><br/>

{% else %}
<section class="">
	<br><br><br>
<div class="container">
	<div class="row justify-content-center">
		<div class="col-lg-6">
			<div class="section-title">
				<h2>How to <span>donate</span></h2>
				<br><br>
				
			
			</div>
		</div>
	</div>

	<div id="container">
		<div class="row">


			<div class="col-lg-6 order-lg-2">
				<div id="right-wrapper">

						
							<br><br><br><br>

						<h3> Donation Benefits : </h3>
						<br>

				
				</div>
			</div>


			<div class="col-lg-6 order-lg-1">
				<div id="left-wrapper">
					<img id="profile-pic1" src="{% static 'img/causes/donate.jpg' %}">
					<div id="left-wrapper-header cor">
						<br>
						<br>
						<h3><span>Fill the form to donate</span></h3>
			
					</div>

					<div style="clear:left"></div>
					<hr>

					<!-- Add form here -->
					<div class="form-group">
						<form method="post">
							{{ form.as_p }}
							{% csrf_token %}
							
							<input class="myButton" style="background-color:#a09e9e" type="submit" value="Submit"
								name="">

						</form>
					</div>

				</div>
			</div>

		




		</div>
	</div>
	<br><br><br>

	{% endif %}
	</section>











	{% endblock content %}