{% extends 'template.html' %}

{% block title %} Fellowship {% endblock %}
{% load static %}
{% block content %}




<!--================ start banner Area =================-->
<section class="banner-area relative">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row justify-content-lg-end align-items-center banner-content">
			<div class="col-lg-5">
				<h1 class="text-white">Fellowship</h1>
		
			</div>
		</div>
	</div>
</section>
<!--================ End banner Area =================-->


<section class="">
	<br><br><br>
<div class="container">
	<div class="row justify-content-center">
		<div class="col-lg-6">
			<div class="section-title">
				<h2>Become a <span>fellow</span></h2>
			</div>
		</div>
	</div>

	<div id="container">
		<div class="row">


			<div class="col-lg-6 order-lg-2">
				<div id="right-wrapper">
					<h3> BWIS fellowship Criteria : </h3>
						<br>
						
						<ul>
							<li>Must be a Female</li>
							<li>Must possess a higher education qualification in a scientific discipline</li>
							<li>Open to 3rd year and post-graduate students in a tertiary institution</li>
							<li>Open to professionals with science-based occupations</li>
							<li>Must attend at least 80% BWIS training courses/events</li>
							<li>Must be prepared to volunteer within the organisation if required</li>
							<li>Must be prepared to participate in mentorship initiatives</li>
						  </ul>
							<br><br><br><br>

						<h3> BWIS Fellow Benefits : </h3>
						<br>

						<ul>
							<li>You will be the first to know about all events, training courses and opportunities</li>
							<li>Admission into BWIS training courses</li>
							<li>Exclusive access to secret “BWIS Members Only” Facebook Network for you to connect and communicate with each other</li>
							<li>You get the opportunity to join the BWIS Fellowship Programme</li>
						</ul>
				
				</div>
			</div>


			<div class="col-lg-6 order-lg-1">
				<div id="left-wrapper">
					<img id="profile-pic" src="{% static 'img/causes/member.jpg' %}">
					<div id="left-wrapper-header cor">
						<br>
						<br>
						<h3><span>Fill the form to become a fellow</span></h3>
			
					</div>

					<div style="clear:left"></div>
					<hr>

					<!-- Add form here -->
					<div class="form-group">
						<form method="post">
							{{ form.as_p }}
							{% csrf_token %}
							
							<input class="myButton" style="background-color:#a09e9e" type="submit" value="Submit"
								name="">

						</form>
					</div>

				</div>
			</div>

		




		</div>
	</div>
	<br><br><br>
	</section>











	{% endblock content %}