{% extends 'base.html' %}
{% load static %}
{% block title %} Main Programmes {% endblock %}

{% block content %}

	<!--================ start banner Area =================-->
	<section class="banner-area relative">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row justify-content-lg-end align-items-center banner-content">
				<div class="col-lg-5">
					<h1 class="text-white">Successful Stories</h1>
					
				</div>
			</div>
		</div>
	</section>
	<!--================ End banner Area =================-->

	<section class="">
<br><br><br>
<div class="container">
	<div class="row justify-content-center">
		<div class="col-lg-6">
			<div class="section-title">
				<h2>Successful <span>stories</span></h2>
			</div>
		</div>
	</div>
	
	<div class="row">

		{% for vid in video.all %}

    	<div class='col-md-4'>

			<div class='card mb-4 shadow-sm'>

					<video width="320" height="240" controls
					src="{{ vid.video.url }}" type = "video/mp4"></video>

					<div class='card-body'>
						
						<h5 class="card-title">{{ vid.name}}</h5>
						 <!-- <p class='card-text'> {{ vid.description}}</p> -->

					</div>

	    </div>

	</div>

	{% endfor %}


</div>
<br><br><br>

</section>













	{% endblock %}