{% extends 'template.html' %}
{% load static %}
{% block title %} Thank you {% endblock %}

{% block content %}

<!--================ start banner Area =================-->
<section class="banner-area relative">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row justify-content-lg-end align-items-center banner-content">
			<div class="col-lg-5">
				<h1 class="text-white">Donation</h1>
			
			</div>
		</div>
	</div>
</section>
<!--================ End banner Area =================-->

	<div id="box">
		<img id="succes-icon" src="{% static 'img/causes/check.png' %}">
		<h4>Thank you for donating to BWIS </h4>
		<p>Our team will contact you shortly</p>
		<hr>
		<a class="myButton" href="{% url 'donor-list-view' %}">&#x2190;Print your invoice</a>
	</div>

{% endblock content %}