{% extends 'base.html' %}
{% load static %}
{% block title %} Main Programmes {% endblock %}

{% block content %}

	<!--================ start banner Area =================-->
	<section class="banner-area relative">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row justify-content-lg-end align-items-center banner-content">
				<div class="col-lg-5">
					<h1 class="text-white">Workshop</h1>
					
				</div>
			</div>
		</div>
	</section>
	<!--================ End banner Area =================-->

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 box_l">
				<div class="section-title">
					<br><br><br>
					<h2><span>Scientific</span> Writing</h2>
				</div>
				<p id='par'>
			
					Scientific research outcome are limited by a number of factors—one of them is science communication, 
					that is, effectively sharing one’s research without being bias or limited by the language of communication (English). While universities and institutions equips us to be scientist, they place very little attention to communicating our findings
					with the aim to influence decision-making regarding, for instance, the country’s policy drafting. 
				</p>

				<p id='par'>
					As an organization, our well-designed workshops, particularly the scientific writing workshop, aims to create excellent female science ambassadors to pioneer in representing a modern scientist,
					who is equipped to accelerate innovative research outcomes. 

				</p>

				<p id='par'>
					We do this by engaging in many scientific writing forms, from a lab notebook to project reports, or from a paper in an academic journal to an article in a scientific magazine. 
					Scientific writing is concerned with measurement and observation not opinion and supposition. This means that it tends not to use superlatives, comparatives or adverbs. 
				</p>

				<p id='par'>
					Other topics that were dealt with on the day included: 

				</p>
						<div class="move_l">

							<ul class="Bullet">
										<li>The language of publication</li>
										<li>Funding and grant writing </li>
										<li>Teaching and science</li>
										<li>Research collaboration and authorship</li>
										<li>Research governance and engagement</li>
									</ul>
						</div>

							<br><br><br>

			</div>

		</div>
	  					
	</div>
	<!--================ Start Popular Causes Area =================-->
	
	<!--================ Start CTA Area =================-->
	<div class="cta-area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-7">
					<p class="top_text">Subscribe now</p>
					<h1>Subscribe Now And Receive The
						Weekly Newsletter </h1>
					<div id="mc_embed_signup">
						<form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
						 method="get">
							<div class="row align-items-center">
								<div class="col-lg-5 mb-lg-0 mb-3">
									<input class="form-control" placeholder="Your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your name'"
									 required="" type="email" />
								</div>
								<div class="col-lg-5 mb-lg-0 mb-3">
									<input class="form-control" name="EMAIL" placeholder="Your Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email'"
									 required="" type="email" />
								</div>
								<div class="col-lg-2">
									<button class="primary-btn" type="submit">Subscribe</button>
									<div style="position: absolute; left: -5000px;">
										<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text" />
									</div>

									<div class="info"></div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--================ End CTA Area =================-->

	{% endblock %}