/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
 .StripeElement {
    box-sizing: border-box;
  
    height: 40px;
  
    padding: 10px 12px;
  
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
  
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;}

    .section-gap-top1{
      padding-top:10px}
    @media (max-width: 991px)
    {.section-gap-top1{padding-top:10px}}

    .img-detail{  
      width: 700px;
      height: 300px;
      object-fit: cover;
      }  

      .img-detail2{  
    
        padding-left: 130px;
       
        }  

      .img-detail1{  
        width: 100px;
        height: 100px;
        object-fit: fill;
        }  

    .img-detail2{  
        width: 100%;
        height: 100%;
        object-fit: fill;
        }  
        table, td, th {
          border: 1px solid black;
          border-collapse: collapse;
          width: 300px;
       }

th, td {
padding: 5px;
}

th {
text-align: left;
}
  
.narrow-select, .narrow-select_p 
{ width: 100%;
  margin-bottom: 20px;
  line-height: -20px;
  display: normal
}

#more {display: none;}
#more1 {display: none;}
#more2 {display: none;}

.myBtn1 {
  outline: none;
  color: red
}

.myBtn11 {
  outline: none;
  color: red
}

.myBtn12 {
  outline: none;
  color: red
}

.card-title1{
  color: black;
}


/*====================================================
                       TEAM
======================================================*/

.team-member {
  margin: 0 15px;
}

.team-member-info {
  padding: 10px 0 30px 0;
}

h4.team-member-name {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  padding-top: 2px;
}
a h4:hover {
  font-size: 18px;
  color:red;
  font-weight: 700;
  letter-spacing: 1px;
  padding-top: 2px;
}



h4.team-member-designation {
  color: #34c6d3;
  font-size: 15px;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 1px;
  margin-top: 5px;
}

/*====================================================
                       SOCIAL
======================================================*/

.social-list {
  padding-left: 0;
}

.social-list li {
  list-style: none;
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 6px;
  margin-top: 10px;
}

.social-icon i {
  font-size: 30px;
}

.icon-gray i {
  color: #64707b;
}

.icon-white i {
  color: #fff;
}

.social-icon i:hover {
  color: #34c6d3;
}

/* 

Workshops details

 */
#par {
  text-align: justify;
  color:black
  
}

.underl {
  text-decoration: underline;;
 
}


.bold_text {
    font-weight: bold;
}

ul.Bullet {
  list-style-type: disc;
  

}

.move_l{
  padding-top: 5px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  color:black
}

.box_l{
  border: 1px solid rgb(223, 214, 214); 
  background-color: rgb(241, 245, 247);
}

/* Navigation */
/* .default-header .bwis-top-nav ul.navbar-nav > li.active > a {
color: red; */
/* } */

/* .ul.navbar-nav > li.active{
  color:            #F8F8F8;
  background-color: #4f81bd;
} */

/* .topmenu ul li.active a.test, .topmenu ul li a.test:hover {
  text-decoration:none;
  color:rgb(230, 9, 9);
} */

/* Content within carousel */

html, body {
  height: 100%;
  
}

.carousel-caption {
  display: table-cell;
  vertical-align: middle;
  text-align: center; 
}


/* Form */
.errorlist
    {
        color: red;
    }

.appl {
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0;
}

.eBox {
  padding-left: 300px;
  padding-right: 300px;
}


/* image section */
#profile-pic1 {
  width: 550px;
  height: auto;
  margin-left: 250px;

}

/* Donation */

#don {
  color: white;
  background-color: #ff573d;
  padding: 10px;
  border-radius: 5px;
  
}

#don_1 {
  padding-top: 50px;
}


#don_2 {
  text-align: justify;
  text-justify: inter-word;
}


input#citysel{
  display:none;
}

label[for="citysel"] {
  display: none;
}




